html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #111;
  color: #FAFAFA;
  font-family: 'Indie Flower', cursive;
  font-weight: normal;
  font-size: 18px;
}

h1,h2,h3,h4,h5 {
  font-weight: normal;
}